main {
    display: flex;
    justify-content: center;
}

.shoping-card{
    width: 100%;
    background: white;
    border-radius: 25px;
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
}

h1{
    margin: 0;
    font-size: 1.5rem;
    color: black;
}

.addForm {
    display: grid;
    gap: 0.5rem;

    label {
        font-size: 1rem;
        color: black;
    }

    input {
        padding: 1rem;
        border: 1px solid rgb(215, 215, 215);
        border-radius: 10px;
        font-size: 1rem;
        background: white;
    }

    button {
        width: 100%;
        margin-top: 0.5rem;
    }
}