body {
    background: rgb(30, 30, 30);
    font-family: 'Rubik', sans-serif;
    color: black;
    display: grid;
    place-items: center;
}

button {
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background: black;
    color: white;
}

main {
    display: flex;
    justify-content: center;
}

.shoping-card{
    width: 100%;
    background: white;
    border-radius: 25px;
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
    box-sizing: border-box;
}

h1{
    margin: 0;
    font-size: 1.5rem;
    color: black;
    text-align: left;
}

.addForm {
    display: grid;
    gap: 0.5rem;

    label {
        font-size: 1rem;
        color: black;
        text-align: left;
    }

    input {
        padding: 1rem;
        border: 1px solid rgb(215, 215, 215);
        border-radius: 10px;
        font-size: 1rem;
        background: white;
        color: black;
    }

    button {
        width: 100%;
        margin-top: 0.5rem;
    }
}

.list-items{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 0.5rem;
}

.item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 0.5rem;
}

.item-check {
    display: flex;
    align-items: center;
}

.item-name {
    font-size: 1rem;
}

.item-amount {
    background: white;
    color: black;
    width: 4rem;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}